main {
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
section.hero {
  min-height: 900px;
}
.-z-1 {
  z-index: -1
}
.min-h-half {
  min-height: 50vh;
}

.nice-border {
  border: 1px solid #999
}


@media (min-width: 768px) { 
  .ml-half {
    margin-left: 50%;
  }
  .text-shadow {
    text-shadow: 1px 1px 4px #666;
  }
}