s.btnwrap {
    font: 112.5%/1.45em sans-serif;
    font-weight: 400;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    box-sizing: inherit;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* max-width: 150px; */
}

.btn {
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    padding: 0;
    transition: box-shadow 300ms ease, background-color 300ms ease, -ms-transform 300ms ease, -webkit-transform 300ms ease, transform 300ms ease;
    box-shadow: none;
    margin-right: 0;
    background-color: #48bb78;
    color: #FFF;
    max-width: 150px;
}

.btn.logout-btn {
    background-color: #E53E3E;
    width: 100%;
}

.btntxt {
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-smoothing: antialiased;
    font: inherit;
    white-space: nowrap;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: center;
    box-sizing: inherit;
    font-family: "GT-America-Standard-Medium";
    color: #FFF;
    letter-spacing: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 40px;
}

.gbtn {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    line-height: 1.111em;
    letter-spacing: 0.13px;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #FA5959;
    border-radius: 5px;
    padding: 14px 50px 14px 50px;
    display: inline-block;
    color: #265DF1;
    background: #FFFFFF;
    border-color: #265DF1;
    width: 100%;
    text-align: center;
}

.gLogo {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.13px;
    white-space: nowrap;
    cursor: pointer;
    color: #265DF1;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.13px;
    white-space: nowrap;
    cursor: pointer;
    color: #265DF1;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: inline-flex;
}

.iconContainer {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.13px;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #666666;
    display: inline-flex;
    position: relative;
    align-self: center;
    width: 24px;
    height: 24px;
}

.gimg {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.13px;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-size: 100%;
    font: inherit;
    color: #666666;
    box-sizing: border-box;
    bottom: -0.125em;
    position: absolute;
    width: 24px;
    height: 24px;
}

.bg {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    line-height: 1.111em;
    letter-spacing: 0.13px;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #FA5959;
    border-radius: 5px;
    /* padding: 14px 50px 14px 50px; */
    display: inline-block;
    /* color: #265DF1; */
    /* background: #FFFFFF; */
    border-color: #265DF1;
    width: 100%;
    text-align: center;
}